In [31]:
import pandas as pd
import numpy as np
import copy

from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder

from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

from tqdm.auto import tqdm

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df

,Name,Location,Price,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Land Rover Freelander 2 TD4 SE,Pune,26826.80,2012,85000,Diesel,Automatic,Second,0.00,2179.0,115.000,5.0
1,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,54680.68,2019,15369,Diesel,Automatic,First,0.00,1950.0,194.000,5.0
2,Ford Fiesta 1.4 SXi TDCi,Jaipur,3065.92,2008,111111,Diesel,Manual,First,17.80,1399.0,95.522,5.0
3,Hyundai Santro Xing XL,Hyderabad,1992.85,2005,87591,Petrol,Manual,First,0.00,1086.0,71.108,5.0
4,Hyundai Santro Xing XO,Hyderabad,3219.22,2007,73745,Petrol,Manual,First,17.00,1086.0,71.108,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6159,Tata Tiago 1.05 Revotorq XT Option,Pune,10822.70,2016,41413,Diesel,Manual,First,27.28,1047.0,69.000,5.0
6160,Ford EcoSport 1.5 Petrol Ambiente,Kochi,13474.72,2017,39015,Petrol,Manual,First,17.00,1497.0,121.360,5.0
6161,Jeep Compass 1.4 Sport,Mumbai,27838.55,2018,6000,Petrol,Manual,First,16.00,1368.0,160.000,5.0
6162,Maruti Vitara Brezza ZDi,Kochi,16203.39,2017,21380,Diesel,Manual,First,24.30,1248.0,88.500,5.0
6163,Hyundai Elite i20 Magna Plus,Kochi,7.08,2018,23955,Petrol,Manual,First,18.60,1197.0,81.860,5.0

In [4]:
#### 원핫 인코딩 하는 경우

df_dummy_x = pd.get_dummies(df.drop("Price", axis=1))
df_dummy_y = df["Price"]

#### 라벨 인코딩 하는 경우

le = LabelEncoder()
obj_cols = df.select_dtypes(include = "object").columns

df_le_x = copy.deepcopy(df)
df_le_y = df["Price"]

for i in obj_cols :
    df_le_x[i] = le.fit_transform(df_le_x[i])

In [5]:
#### train_test_split 쓰는 경우 / 원핫 인코딩

tr_dummy_x, test_dummy_x, tr_dummy_y, test_dummy_y = train_test_split(df_dummy_x, df_dummy_y, test_size = 0.2, random_state = 1128)

In [6]:
#### train_test_split 쓰는 경우 / 라벨 인코딩

tr_le_x, test_le_x, tr_le_y, test_le_y = train_test_split(df_le_x, df_le_y, test_size = 0.2, random_state = 1128)

In [7]:
####dt/train_test_split 쓰는 경우 / 원핫 인코딩

dt = DecisionTreeRegressor(random_state = 1128)
dt.fit(tr_dummy_x, tr_dummy_y)
preds = dt.predict(test_dummy_x)

dt_results_dummy = pd.DataFrame()

dt_results_dummy["mse"] = [mean_squared_error(preds, test_dummy_y, squared=False)]
dt_results_dummy["rmse"] = mean_squared_error(preds, test_dummy_y)
dt_results_dummy["mae"] = mean_absolute_error(preds, test_dummy_y)
dt_results_dummy["mape"] = mean_absolute_percentage_error(preds, test_dummy_y)

In [8]:
dt_results_dummy

           mse          rmse          mae     mape
0  9316.496454  8.679711e+07  3488.534619  0.22648

In [9]:
####RF/train_test_split 쓰는 경우 / 원핫 인코딩

rf = RandomForestRegressor(random_state = 1128)
rf.fit(tr_dummy_x, tr_dummy_y)
preds = rf.predict(test_dummy_x)

rf_results_dummy = pd.DataFrame()

rf_results_dummy["mse"] = [mean_squared_error(preds, test_dummy_y, squared=False)]
rf_results_dummy["rmse"] = mean_squared_error(preds, test_dummy_y)
rf_results_dummy["mae"] = mean_absolute_error(preds, test_dummy_y)
rf_results_dummy["mape"] = mean_absolute_percentage_error(preds, test_dummy_y)

In [10]:
rf_results_dummy

           mse          rmse          mae      mape
0  7754.008353  6.012465e+07  2669.218356  0.159129

In [11]:
####GB/train_test_split 쓰는 경우 / 원핫 인코딩

GB = GradientBoostingRegressor(random_state = 1128)
GB.fit(tr_dummy_x, tr_dummy_y)
preds = GB.predict(test_dummy_x)

GB_results_dummy = pd.DataFrame()

GB_results_dummy["mse"] = [mean_squared_error(preds, test_dummy_y, squared=False)]
GB_results_dummy["rmse"] = mean_squared_error(preds, test_dummy_y)
GB_results_dummy["mae"] = mean_absolute_error(preds, test_dummy_y)
GB_results_dummy["mape"] = mean_absolute_percentage_error(preds, test_dummy_y)

In [12]:
GB_results_dummy

           mse          rmse          mae      mape
0  8104.066536  6.567589e+07  3387.002755  0.213176

In [13]:
####dt/train_test_split 쓰는 경우 / 라벨 인코딩

dt_le = DecisionTreeRegressor(random_state = 1128)
dt_le.fit(tr_le_x, tr_le_y)
preds = dt_le.predict(test_le_x)

dt_results_le = pd.DataFrame()

dt_results_le["mse"] = [mean_squared_error(preds, test_le_y, squared=False)]
dt_results_le["rmse"] = mean_squared_error(preds, test_le_y)
dt_results_le["mae"] = mean_absolute_error(preds, test_le_y)
dt_results_le["mape"] = mean_absolute_percentage_error(preds, test_le_y)

In [14]:
dt_results_le

           mse          rmse         mae      mape
0  2755.610845  7.593391e+06  106.797429  0.001358

In [15]:
####dt/train_test_split 쓰는 경우 / 라벨 인코딩

rf_le = RandomForestRegressor(random_state = 1128)
rf_le.fit(tr_le_x, tr_le_y)
preds = rf_le.predict(test_le_x)

rf_results_le = pd.DataFrame()

rf_results_le["mse"] = [mean_squared_error(preds, test_le_y, squared=False)]
rf_results_le["rmse"] = mean_squared_error(preds, test_le_y)
rf_results_le["mae"] = mean_absolute_error(preds, test_le_y)
rf_results_le["mape"] = mean_absolute_percentage_error(preds, test_le_y)

In [16]:
rf_results_le

           mse          rmse         mae      mape
0  2844.433296  8.090801e+06  104.412276  0.001368

In [17]:
####dt/train_test_split 쓰는 경우 / 라벨 인코딩

GB_le = GradientBoostingRegressor(random_state = 1128)
GB_le.fit(tr_le_x, tr_le_y)
preds = GB_le.predict(test_le_x)

GB_results_le = pd.DataFrame()

GB_results_le["mse"] = [mean_squared_error(preds, test_le_y, squared=False)]
GB_results_le["rmse"] = mean_squared_error(preds, test_le_y)
GB_results_le["mae"] = mean_absolute_error(preds, test_le_y)
GB_results_le["mape"] = mean_absolute_percentage_error(preds, test_le_y)

In [18]:
GB_results_le

           mse          rmse         mae      mape
0  2492.052316  6.210325e+06  164.723965  0.008732

In [19]:
df1 = copy.deepcopy(df)
for i in obj_cols:
    df1[i] = le.fit_transform(df1[i])
df1_x = df1.drop("Price", axis=1)
df1_y = df1["Price"]

In [38]:
kfold = KFold(n_splits = 5, shuffle = True, random_state = 1128)
rf = RandomForestRegressor(random_state = 1128)
error_list = []
cnt = 1
for tr_idx, val_idx in kfold.split(df_le_x) :
    x_tr, x_val = df_le_x.iloc[tr_idx], df_le_x.iloc[val_idx]
    y_tr, y_val = df_le_y[tr_idx], df_le_y[val_idx]

    rf.fit(x_tr, y_tr)
    preds = rf.predict(x_val)
    error = mean_absolute_error(preds, y_val)
    error_list.append(error)
    print(f"error {cnt} : {error}")
    cnt +=1

error 1 : 101.60671954582453
error 2 : 27.311366828874505
error 3 : 17.495572181673378
error 4 : 47.75372708840523
error 5 : 34.26785089285914

In [24]:
kfold = KFold(n_splits = 5, shuffle = True, random_state = 1128)
dt = DecisionTreeRegressor(random_state = 1128)
error_list = []
cnt = 1
for tr_idx, val_idx in kfold.split(df_le_x) :
    x_tr, x_val = df_le_x.iloc[tr_idx], df_le_x.iloc[val_idx]
    y_tr, y_val = df_le_y[tr_idx], df_le_y[val_idx]

    dt.fit(x_tr, y_tr)
    preds = dt.predict(x_val)
    error = mean_squared_error(preds, y_val, squared=False)
    error_list.append(error)
    print(f"error {cnt} : {error}")
    cnt +=1

error 1 : 2755.610845499353
error 2 : 188.7877666602145
error 3 : 150.89514127210856
error 4 : 1336.6069654904725
error 5 : 326.7693233400841

In [33]:
kfold = KFold(n_splits = 5, shuffle = True, random_state = 1128)
gb = GradientBoostingRegressor(random_state = 1128)
error_list = []
cnt = 1
for tr_idx, val_idx in kfold.split(df_le_x) :
    x_tr, x_val = df_le_x.iloc[tr_idx], df_le_x.iloc[val_idx]
    y_tr, y_val = df_le_y[tr_idx], df_le_y[val_idx]
    print(f"y mean : {np.mean(y_tr)}, y std : {y_tr.std()}, y med : {y_tr.median()}")
    print("")
    print(f"data len : {len(x_tr)}")

    gb.fit(x_tr, y_tr)
    preds = gb.predict(x_val)
    error = mean_squared_error(preds, y_val, squared=False)
    error_list.append(error)
    print(f"error {cnt} : {error}")
    cnt +=1

y mean : 14969.7925147029, y std : 17617.343750766486, y med : 8814.52

data len : 4931
error 1 : 2486.5022990119596
y mean : 14871.92681200568, y std : 17484.122658012937, y med : 8814.52

data len : 4931
error 2 : 180.70758455010437
y mean : 14993.82991482458, y std : 17868.449992220332, y med : 8814.52

data len : 4931
error 3 : 168.09983831942904
y mean : 15000.991216791725, y std : 17745.98385272401, y med : 8814.52

data len : 4931
error 4 : 891.4829979571349
y mean : 14862.116877534469, y std : 17757.2989981619, y med : 8737.87

data len : 4932
error 5 : 230.51882336656388